<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <style>
        .form-row {
            margin-bottom: 10px;
        }
        
        .form-row input {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Input Form</h1>
    
    <form action="/process" method="POST">

        <div class="form-row">
            <label for="OverallQual">OverallQual:</label>
            <input type="text" id="OverallQual" name="OverallQual" required>
        </div>

        <div class="form-row">
            <label for="GrLivArea">GrLivArea:</label>
            <input type="text" id="GrLivArea" name="GrLivArea" required>
        </div>

        <div class="form-row">
            <label for="TotalBsmtSF">TotalBsmtSF:</label>
            <input type="text" id="TotalBsmtSF" name="TotalBsmtSF" required>
        </div>

        <div class="form-row">
            <label for="BsmtFinSF1">BsmtFinSF1:</label>
            <input type="text" id="BsmtFinSF1" name="BsmtFinSF1" required>
        </div>

        <div class="form-row">
            <label for="1stFlrSF">1stFlrSF:</label>
            <input type="text" id="1stFlrSF" name="1stFlrSF" required>
        </div>
        
        <div class="form-row">
            <label for="2ndFlrSF">2ndFlrSF:</label>
            <input type="text" id="2ndFlrSF" name="2ndFlrSF" required>
        </div>

        <div class="form-row">
            <label for="GarageArea">GarageArea:</label>
            <input type="text" id="GarageArea" name="GarageArea" required>
        </div>

        <div class="form-row">
            <label for="LotArea">LotArea:</label>
            <input type="number" id="LotArea" name="LotArea" required>
        </div>

        <div class="form-row">
            <label for="YearBuilt">YearBuilt:</label>
            <input type="text" id="YearBuilt" name="YearBuilt" required>
        </div>

        <div class="form-row">
            <label for="GarageCars">GarageCars:</label>
            <input type="text" id="GarageCars" name="GarageCars" required>
        </div>

        <div class="form-row">
            <label for="TotRmsAbvGrd">TotRmsAbvGrd:</label>
            <input type="text" id="TotRmsAbvGrd" name="TotRmsAbvGrd" required>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
